@namespace url('http://www.w3.org/1999/xhtml');
@namespace m url('http://www.w3.org/1998/Math/MathML');

body, m|mtext {
    font-family: Latin Modern;
}
m|math {
    font-family: Latin Modern Math;
}
body{
	padding: 0;
	margin: 0;
	background: #DDDDDD;
}
.t{
	color: #000000;
	position: relative;
	top: 0px;
	text-align: center;
	font-size: 50px;
	user-select: none;
	font-family: 'Aldrich', sans-serif;
}

.bl1, .bbl1{
	position: absolute;
	top: 170px;
	left: 0px;
	height: 900px;
	width: 100%;
	background-color: #BBBBBB;
}
.bbl1{
	top: 0px;
	height: 70px;
	background-color: #999999;
}
.t1{
	color: #000000;
	position: relative;
	top: 15px;
	text-align: center;
	font-size: 30px;
	user-select: none;
	font-family: 'Aldrich', sans-serif;
}
  .f1, .f2, .f3, .f4, .f5, .f6{
	  position: relative;
	  top: 120px;
	  font-size: 33px;
  }
  .f2{ top: 170px; }
  .f3{ top: 220px; }
  .f4{ top: 270px; }
  .f5{ top: 320px; }
  .f6{ top: 370px; }
